
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #fff;
  background: #444
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --area-porta-height: 310px;
  --area-porta-width: 200px;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
